<h1>This is about the application.</h1>
<p>We are using Rails 7.0.4 and Ruby 3.1.2.</p>
<p>We are using the following gems:</p>
<ul>
  <li>Rails 7.0.4</li>
  <li>Ruby 3.1.2</li>
  <li>Devise for authentication</li>
  <li>Bootstrap for styling</li>
  <li>Rspec for testing</li>
  <li>Capybara for integration testing</li>